@media only screen and (min-width: 0px) and (max-width: 399px) {
  .contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(/src/Pages//Contact//images/Web-Developer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 5px 5px;
    box-shadow: #020f00 1px 2px 10px;
    padding-bottom: 20px;
  }

  .contactForm-inside {
    height: 500px;
    width: 100%;
    padding: 30px 15px;
    border-radius: 50px;
  }

  .contactForm-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 15px;
    color: #56ca46;
  }

  /* .contactForm-main-items {} */

  .contactForm-inputBox {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fefffe;
    box-shadow: #102e0a 0px 0px 2px 1px;

    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
  }

  #contactForm-message-inputBox {
    background-color: rgba(0, 0, 0, 0.5);
    color: #e0f1de;
    box-shadow: #102e0a 0px 0px 2px 1px;

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Verdana, sans-serif;
    height: 200px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }

  .submit-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  #contactForm-message-submit-button {
    background-color: rgb(44, 44, 158);
    height: 40px;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 25px;
    color: #041a01;
    background-color: #7c5ef0;
    box-shadow: #32b321 1px 1px 5px;
    border: none;
  }
  #contactForm-message-submit-button:hover {
    background-color: rgb(44, 44, 158);
    height: 40px;
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #d3cf05;
    box-shadow: #32b321 2px 2px 5px;
    border: none;
    transition: all 0.3s;
    transform: scale(1.05);
  }

  /*  */
  /*  */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
  }

  .modal-close-button {
    background-color: #861919;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }

  .modal-close-button:hover {
    background-color: #d42e22;
  }
}
